<script>
{# this is a simplified copy of dal upstreams `template` method #}
function tohtml(item) {
  var $result = $('<span>');
  $result.html(item.text);
  return $result;
}
{% comment %}
We add our own Select2 reinitialization function,
becaus there is none from upstream yet:
https://github.com/yourlabs/django-autocomplete-light/issues/1311
and
https://github.com/yourlabs/django-autocomplete-light/issues/1221

The above mentioned solutions did not work in our case.
{% endcomment %}
function reinitSelect2(something) {
  $('select.listselect2').each(function() {
    if ($(this).is("#id_bibs_url")) {
      $(this).select2({
        ajax: {
          url: $('#id_bibs_url').data('autocomplete-light-url'),
        },
        templateResult: tohtml,
        templateSelection: tohtml,
      });
    }
  });
  $('.select2-selection').addClass("form-control");
}

{# If htmx is available, we reinitialize the #bibs_url field after htmx events #}
htmx.on("htmx:afterSettle", function(evt) {
  reinitSelect2(evt.detail.elt);
});
</script>
