{% load static %}
<link rel="stylesheet"
      href="{% static 'css/apis_bibsonomy/zoteroentry.css' %}">
<div class="title">{{ object }}</div>
<div class="subtitle">{{ object.data.bib|striptags|safe }}</div>
<div class="metadata">
    {% if object.data.data.itemType %}<span class="itemtype">{{ object.data.data.itemType }}</span>{% endif %}
    {% if object.data.data.DOI %}<span class="doi">{{ object.data.data.DOI }}</span>{% endif %}
    {% if object.data.data.ISBN %}<span class="isbn">{{ object.data.data.ISBN }}</span>{% endif %}
    {% if object.data.data.ISSN %}<span class="isbn">{{ object.data.data.ISSN }}</span>{% endif %}
    <span class="key">{{ object.data.key }}</span>
</div>
