{% extends "base.html" %}
{% load render_form from formsetify %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h3 class="text-center">
            {% if form.instance %}
                {% if form.instance.referenced_object %}
                    Edit reference on <a href="{{ form.instance.referenced_object.get_absolute_url }}">{{ form.instance.referenced_object }}</a>
                {% endif %}
            {% endif %}
        </h3>
        
        <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
          {% render_form form "bootstrap" %}
        </django-formset>
    </div>
{% endblock content %}
