{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ tempentityclassform.media }}
{{ temptripleform.media }}
<div class="px-4 py-5 my-5 text-center">
<h1>{{ reference }}</h1>
</div>
<details>
	<summary>bibtex</summary>
	<p>{{ reference.bibtexjson }}</p>
</details>

<hr/>

Referenced by:
<ul>
{% for ref, obj in referenced_objects %}
<li>
{% if obj.get_absolute_url %}<a href="{{ obj.get_absolute_url }}">{{ obj }}</a>{% else %}{{ obj }}{% endif %}
(<a href="{{ ref.get_absolute_url }}">{{ ref.id }}</a>)
<a
  hx-delete="{% url "apis_bibsonomy:referencedelete" ref.id %}"
  hx-confirm="Are your sure you want to delete reference {{ reference }} for {{ obj }}"
  hx-target="closest li"
  hx-swap="outerHTML swap:1s"
  class="block mr-2 hover:text-gray-600"
  href="{% url "apis_bibsonomy:referencedelete" ref.id %}?redirect={% url "apis_bibsonomy:referencedetail" reference.id %}">Delete</a>
</li>
{% endfor %}
</ul>

<hr/>
<div class="row">
<div class="col">
<form action="" method="post">
	{% csrf_token %}
	<label for="{{ tempentityclassform.ReferenceToObject.id_for_label }}" class="form-label">{{ tempentityclassform.ReferenceToObject.label }}</label>
	{{ tempentityclassform.ReferenceToObject }}

	<button type="submit" class="btn btn-primary mt-3"/>Add</button>
</form>
<form action="" method="post" hx-get="{% url "apis_bibsonomy:tempentityclass-autocompletehtmx" %}" hx-trigger="input from:#foo" hx-target="#entities" list="entities" hx-params="*">
	<input type="text" list="entities" id="foo">
	<datalist id="entities">
	</datalist>
</form>

</div>

<div class="col">
<form action="" method="post">
	{% csrf_token %}
	<label for="{{ temptripleform.ReferenceToObject.id_for_label }}" class="form-label">{{ temptripleform.ReferenceToObject.label }}</label>
	{{ temptripleform.ReferenceToObject }}
	<button type="submit" class="btn btn-primary mt-3"/>Add</button>
</form>
</div>
</div>

{% endblock content %}
