{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ tempentityclassform.media }}
{{ temptripleform.media }}
<div class="px-4 py-5 my-5 text-center">
<h1>{{ reference }}</h1>
</div>
<details>
	<summary>bibtex</summary>
	<p>{{ reference.bibtexjson }}</p>
</details>

<hr/>

Referenced by:
<ul>
{% for ref, obj in referenced_objects %}
<li>
{% if obj.get_absolute_url %}<a href="{{ obj.get_absolute_url }}">{{ obj }}</a>{% else %}{{ obj }}{% endif %}
(<a href="{{ ref.get_absolute_url }}">{{ ref.id }}</a>)
</li>
{% endfor %}
</ul>

<hr/>
<div class="row">
<div class="col">
<form action="" method="post">
	{% csrf_token %}
	<label for="{{ tempentityclassform.ReferenceToObject.id_for_label }}" class="form-label">{{ tempentityclassform.ReferenceToObject.label }}</label>
	{{ tempentityclassform.ReferenceToObject }}
	<button type="submit" class="btn btn-primary mt-3"/>Add</button>
</form>
</div>

<div class="col">
<form action="" method="post">
	{% csrf_token %}
	<label for="{{ temptripleform.ReferenceToObject.id_for_label }}" class="form-label">{{ temptripleform.ReferenceToObject.label }}</label>
	{{ temptripleform.ReferenceToObject }}
	<button type="submit" class="btn btn-primary mt-3"/>Add</button>
</form>
</div>
</div>

{% endblock content %}
