.bibsonomydialog {
    border: 1px solid black;
    border-radius: .3rem;
    overflow: visible;
    padding: 1em;
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    font-size: 1rem;
    text-align: left;
    width: 50vw;
    overflow-x: scroll;

    @starting-style {
        opacity: 0;
    }
}
body:has(dialog.bibsonomydialog:modal) {
  overflow: hidden; /* Prevent scrolling */
}
