.bibsonomydialog {
    border: 1px solid black;
    border-radius: .3rem;
    overflow: visible;
    padding: 1em;
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    font-size: 1rem;

    @starting-style {
        opacity: 0;
    }
}
