div.tooltipster-content span.select2-container {
	z-index: 1000;
}
a.bibsonomy-anker {
	cursor: pointer;
}

#referenceondialog {
  font-size: 80%;
  text-align: left;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
}

